<% var advantages = [
  {
    delay: '',
    icon: 'protect',
    title: '3 года гарантии',
    plus: true
  },
  {
    delay: 'xl:delay-2',
    icon: 'delivery',
    title: 'Доставка по РФ',
    plus: true
  },
  {
    delay: 'xl:delay-4',
    icon: 'certificate',
    title: 'Сертификаты',
    plus: true
  },
  {
    delay: 'xl:delay-6',
    icon: 'percent',
    title: 'Система скидок',
    plus: false
  }
] %>

<section class="container container--xs relative bg-grey overflow-hidden">
  <% if (status) { %>
  <div class="absolute inset-0">
    <div class="pack bg-black w-full h-full">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/advantages-bg.webp" type="image/webp">
        <img class="image" loading="lazy" src="img/pictures/advantages-bg.jpg" alt="">
      </picture>
    </div>
  </div>
  <% } %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:flex lg:justify-between relative gap-7 sm:gap-4 <%= status ? 'text-white' : '' %>">
    <% for (var i = 0; i < advantages.length; i++) { %>
    <div class="flex items-center gap-4 <%= advantages[i].delay %> ease-in-out duration-4 anim anim--up" data-anim="hidden">
      <div class="flex flex-col items-center justify-center text-center">
        <svg class="icon text-primary text-44 mb-4">
          <use xlink:href="img/icons.svg#<%= advantages[i].icon %>">
        </svg>
        <h3 class="font-light text-24 leading-3 mb-4"><%= advantages[i].title %></h3>
        <p class="font-light text-16 leading-5">
          Идеальное решение, когда напольная направляющая невозможна
        </p>
      </div>
      <% if (advantages[i].plus) { %>
      <div class="hidden xl:block text-6xl <%= status ? 'opacity-80' : 'opacity-20' %>">
        <svg class="icon">
          <use xlink:href="img/icons.svg#plus">
        </svg>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</section>