<section class="creative container overflow-hidden <%= creative.bg ? 'bg-grey' : '' %>">
  <div class="flex flex-col xl:flex-row items-start justify-between">
    <div class="w-full xl:max-w-[685px] mb-10 md:mb-16 xl:mb-0">
      <h2 class="font-light text-primary text-32 sm:text-42 lg:text-48 leading-2 mb-5 md:mb-10 ease-in-out duration-4 anim anim--right" data-anim="hidden">Креативные решения</h2>
      <p class="font-light text-16 leading-5 ease-in-out duration-4 anim anim--right" data-anim="hidden">
        Компания raumplus производит системы интерьерных перегородок, придающих помещению неповторимый архитектурный облик. Распашные и раздвижныедвери, библиотеки и модульные системы для гостиной, гардеробные. Фабрика постоянно расширяет свою коллекцию и совершенствует стилистику своей продукции.
      </p>
      <% if (creative.text) { %>
      <div class="mt-5" data-listing>
        <p class="hidden font-light text-16 leading-5" data-listing-item>
          Компания raumplus производит системы интерьерных перегородок, придающих помещению неповторимый архитектурный облик. Распашные и раздвижныедвери, библиотеки и модульные системы для гостиной, гардеробные. Фабрика постоянно расширяет свою коллекцию и совершенствует стилистику своей продукции.
        </p>
        <button class="btn btn-primary font-normal text-dark border-b border-r-0 border-l-0 border-t-0 border-dashed border-dark border-opacity-40 py-1 mt-4" data-listing-show data-waved="light">Показать еще...</button>
      </div>
      <% } %>
      <div class="creative-slider mt-7 md:mt-16 ease-in-out duration-4 anim anim--up" data-anim="hidden">
        <div class="swiper -mx-[15px] px-[15px] sm:mx-0 sm:px-0">
          <div class="swiper-wrapper">
            <% for (var i = 0; i < 3; i++) { %>
            <a class="swiper-slide pack pack-[135] bg-grey" data-fancybox="creative" href="img/pictures/creative-img.jpg">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/creative-img.webp" type="image/webp">
                <img class="image" loading="lazy" src="img/pictures/creative-img.jpg" alt="">
              </picture>
              <div class="flex items-center justify-center absolute inset-0 bg-black font-extralight text-white text-center text-48 bg-opacity-30 opacity-0 hover:opacity-100 duration-2">+</div>
            </a>
            <% } %>
          </div>
          <button class="swiper-button-prev btn btn-dark btn-fade absolute text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-left">
            </svg>
          </button>
          <button class="swiper-button-next btn btn-dark btn-fade absolute text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </button>
        </div>
      </div>
      <% if (creative.btn) { %>
      <div class="mt-10 md:mt-16 ease-in-out duration-4 anim anim--up" data-anim="hidden">
        <button class="btn btn-dark btn-lg btn-contur btn-active btn-swipe uppercase mx-auto xl:mx-0" data-waved="light">
          ПРЕЗЕНТАЦИИ СИСТЕМ
          <svg class="icon text-14 ml-2">
            <use xlink:href="img/icons.svg#arrow-btn">
          </svg>
        </button>
      </div>
      <% } %>
    </div>
    <div class="w-full xl:max-w-[625px]">
      <div class="relative h-full xl:-right-8">
        <div class="pack pack-rect-lg sm:pack-half xl:pack-[110] h-full">
          <picture>
            <source srcset="img/pictures/points.webp" type="image/webp">
            <img class="image" src="img/pictures/points.png" alt="">
          </picture>
        </div>
        <div class="creative__pack pack pack-rect-lg sm:pack-half xl:pack-[110] absolute inset-0 bg-grey w-full lg:max-w-[700px] xl:max-w-[490px] h-full mx-auto ease-in-out duration-6 anim anim--left" data-anim="hidden">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/creative-img.webp" type="image/webp">
            <img class="image" loading="lazy" src="img/pictures/creative-img.jpg" alt="">
          </picture>
          <div class="flex items-center absolute z-1 left-5 right-5 bottom-2 sm:left-4 sm:bottom-4 bg-white sm:max-w-max mx-auto sm:mx-0 py-4 px-8 sm:py-6">
            <button class="btn btn-dark btn-fill text-20 rounded-max w-[55px] min-w-[55px] h-[55px] mr-4" data-waved="light" data-fancybox href="https://www.youtube.com/watch?v=OOih21EjgW0">
              <svg class="icon ml-1">
                <use xlink:href="img/icons.svg#play">
              </svg>
            </button>
            <div class="flex flex-col">
              <span class="font-normal text-primary text-18 leading-1 mb-1">Видео</span>
              <span class="font-normal text-18 leading-1">Производства</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>