<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="Студия КИТ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body>

  <!-- Прелоадер -->

  <div class="flex flex-col items-center justify-center fixed z-10 inset-0 bg-grey duration-5" data-preloader>
    <div class="pack pack-box w-full max-w-[100px]">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
    </div>
    <p class="font-medium text-center text-20 sm:text-24">Идет загрузка...</p>
  </div>

  <!-- Шапка документа -->

  <% var nav = ['Каталог', 'Презентации', 'Загрузки', 'О компании', 'Статьи', 'Контакты'] %>

  <header class="header container flex items-center justify-between gap-5 sm:gap-10 sticky z-3 top-0 left-0 right-0 bg-gray pt-4 pb-4 xl:pt-5 xl:pb-3 ease-linear duration-1" data-header>
    <button class="btn btn-white xl:hidden text-34 sm:text-38" data-burger data-waved="light">
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
    <a class="btn btn-white w-[120px] xl:w-[230px] mr-auto" data-waved="light" href="/">
      <picture>
        <source srcset="img/pictures/logo-text.webp" type="image/webp">
        <img class="w-full" src="img/pictures/logo-text.png" alt="">
      </picture>
    </a>
    <div class="flex flex-col xl:w-full xl:max-w-[915px]">
      <div class="flex items-center justify-end gap-6 xl:border-b xl:border-solid xl:border-smoke xl:border-opacity-10 xl:pb-5 xl:mb-3">
        <a class="btn btn-smoke hidden md:flex" href="tel: +7 495 191-08-95" data-waved="light">
          <svg class="icon text-24 mr-1">
            <use xlink:href="img/icons.svg#phone">
          </svg>
          <span class="font-normal text-white">+7 495 191-08-95</span>
        </a>
        <a class="btn btn-smoke hidden xs:flex rounded-max p-1" data-scroll data-waved="light" href="#contacts">
          <svg class="icon text-24">
            <use xlink:href="img/icons.svg#geo">
          </svg>
        </a>
        <a class="btn btn-smoke hidden xs:flex rounded-max p-1" data-waved="light" href="mailto:">
          <svg class="icon text-24">
            <use xlink:href="img/icons.svg#email">
          </svg>
        </a>
        <a class="btn btn-smoke rounded-max p-1" data-waved="light" href="/">
          <svg class="icon text-28 xs:text-24">
            <use xlink:href="img/icons.svg#basket">
          </svg>
        </a>
        <a class="btn btn-smoke rounded-max p-1" data-waved="light" href="/">
          <svg class="icon text-28 xs:text-24">
            <use xlink:href="img/icons.svg#user">
          </svg>
        </a>
      </div>
      <div class="inverted hidden xl:block w-full" data-inverted="before">
        <div class="inverted-before flex items-center justify-between gap-10 duration-3">
          <nav class="flex items-center justify-between gap-5 w-full">
            <% for (var i = 0; i < nav.length; i++) { %>
            <a class="btn btn-smoke font-normal py-2 px-3" data-waved="light" href=""><%= nav[i] %></a>
            <% } %>
          </nav>
          <button class="btn btn-smoke rounded-max p-1" data-waved="light" data-inverted-open>
            <svg class="icon text-24">
              <use xlink:href="img/icons.svg#search">
            </svg>
          </button>
        </div>
        <div class="inverted-after duration-3">
          <div class="flex items-center justify-between gap-5">
            <form class="form w-full" data-form="action" action="catalog.html">
              <label class="form-label" data-label="input">
                <div class="form-wrapper">
                  <div class="input-cover">
                    <input class="input input-light input-sm pr-10" data-input type="text" placeholder="Поиск">
                  </div>
                  <span class="form-error text-white" data-error>Заполните это поле</span>
                  <button class="form-icon form-icon-sm form-icon--pointer form-icon--right text-white text-24 cursor-pointer" type="submit">
                    <svg class="icon">
                      <use xlink:href="img/icons.svg#search">
                    </svg>
                  </button>
                </div>
              </label>
            </form>
            <button class="btn btn-smoke rounded-max p-1" data-waved="light" data-inverted-close>
              <svg class="icon text-24">
                <use xlink:href="img/icons.svg#close">
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Мобильное меню -->

  <div class="mobile-menu fixed inset-0 z-6 duration-1" data-mobile="hidden">
    <div class="mobile-menu__content flex flex-col bg-white overflow-auto w-full max-w-[375px] h-full duration-3">
      <div class="mobile-menu__head flex items-center gap-4 bg-gray p-4 mb-4 duration-5 delay-3">
        <button class="btn btn-white text-38" data-mobile-close data-waved="light">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
        <a class="btn btn-white w-[120px] mr-auto" data-waved="light" href="/">
          <picture>
            <source srcset="img/pictures/logo-text.webp" type="image/webp">
            <img class="w-full" src="img/pictures/logo-text.png" alt="">
          </picture>
        </a>
      </div>
      <div class="mobile-menu__nav flex flex-col mb-5 px-4 duration-9 delay-5">
        <form class="form w-full mb-5" data-form="action" action="catalog.html">
          <label class="form-label" data-label="input">
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-md pr-10" data-input type="text" placeholder="Поиск">
              </div>
              <span class="form-error" data-error>Заполните это поле</span>
              <button class="form-icon form-icon-md form-icon--pointer form-icon--right text-black text-24 text-opacity-50 cursor-pointer" type="submit">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#search">
                </svg>
              </button>
            </div>
          </label>
        </form>
        <nav class="flex flex-col items-start gap-3">
          <% for (var i = 0; i < nav.length; i++) { %>
          <a class="btn btn-gray font-normal text-20" data-waved="dark" href=""><%= nav[i] %></a>
          <% } %>
        </nav>
      </div>
      <div class="mobile-menu__footer mt-auto pb-10 px-4 duration-5 delay-9">
        <div class="flex flex-col items-start border-t border-solid border-black border-opacity-20 pt-5">
          <a class="btn btn-gray mb-5" href="tel: +7 495 191-08-95" data-waved="light">
            <svg class="icon text-24 mr-1">
              <use xlink:href="img/icons.svg#phone">
            </svg>
            <span class="text-20">+7 495 191-08-95</span>
          </a>
          <div class="flex items-center gap-4">
            <a class="btn btn-primary btn-fill rounded-max p-2" data-scroll data-waved="light" href="#contacts">
              <svg class="icon text-28">
                <use xlink:href="img/icons.svg#geo">
              </svg>
            </a>
            <a class="btn btn-primary btn-fill rounded-max p-2" data-waved="light" href="mailto:">
              <svg class="icon text-28">
                <use xlink:href="img/icons.svg#email">
              </svg>
            </a>
            <a class="btn btn-primary btn-fill rounded-max p-2" data-waved="light" href="/">
              <svg class="icon text-28">
                <use xlink:href="img/icons.svg#basket">
              </svg>
            </a>
            <a class="btn btn-primary btn-fill rounded-max p-2" data-waved="light" href="/">
              <svg class="icon text-28">
                <use xlink:href="img/icons.svg#user">
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>