// Fancybox
$close: ".carousel__button.is-close";

.fancybox {
  &__spinner {
    width : auto;
    height: auto;
  }

  &__container * {

    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  &__content {
    max-width : 100%;
    padding   : 0;
    background: none;

    & :focus:not(#{$close}) {
      outline: none;
    }

    &>#{$close} {
      position        : fixed;
      top             : 8px;
      right           : 8px;
      background-color: theme("colors.white.DEFAULT");
      border          : 1px solid theme("colors.dark.DEFAULT");
      color           : theme("colors.dark.DEFAULT");

      @screen md {
        position: absolute;
        opacity : 0.6;
      }

      @screen lg {
        top  : 30px;
        right: 30px;
      }

    }
  }
}

// Slider-swiper
.swiper {
  &-pagination {
    display        : flex;
    align-items    : center;
    justify-content: center;

    &-bullet {
      width           : 8px;
      height          : 8px;
      background-color: currentColor;
      opacity         : 1;
      transition      : background-color 0.2s ease;
      margin-inline   : 6px !important;

      &-active {
        background-color: theme("colors.dark.DEFAULT");
      }
    }
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        display: none;
      }
    }
  }
}

// Air-datepicker
.air-datepicker-global-container {
  z-index: 1100;
}