// Переворачивание
.inverted {
  position   : relative;
  perspective: 600px;

  &[data-inverted="after"] &-before {
    transform: rotateX(-180deg);
  }

  &[data-inverted="after"] &-after {
    transform: rotateX(0);
  }

  &-before {
    transform: rotateX(0);
  }

  &-after {
    position : absolute;
    inset    : 0;
    transform: rotateX(180deg);
  }

  &-before,
  &-after {
    width              : 100%;
    height             : 100%;
    transform-style    : preserve-3d;
    backface-visibility: hidden;
    transition         : 0.5s ease-in-out;
  }
}