// Поле количества
.quantity {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;

  @apply bg-dark gap-3 w-full h-full p-3;

  @screen sm {
    @apply gap-6 p-5;
  }


  &-btn {
    width    : 32px;
    min-width: 32px;
    height   : 32px;

    @apply font-medium text-white text-24;
  }

  &-cover {
    max-width: 36px;
  }

  &-input {
    height          : auto;
    padding         : 0;
    background-color: transparent;
    border          : none;
    border-radius   : 0;
    text-align      : center;

    @apply font-medium text-white text-18;
  }
}