// Полоса прокрутки
* {
  scrollbar: {
    width: thin;
    color: theme("colors.primary.DEFAULT") theme("colors.grey.DEFAULT");
  }

  &::-webkit-scrollbar {
    @media(pointer: fine) {
      width: 10px;

      &-track {
        background-color: theme("colors.grey.DEFAULT");
      }

      &-thumb {
        background-color: theme("colors.primary.DEFAULT");

        &:active {
          box-shadow: inset 0 8px 8px theme("colors.black.DEFAULT / 50%");
        }
      }

      &-corner {
        background-color: theme("colors.grey.DEFAULT");
      }
    }
  }
}