<% var data = {

  title: 'Вход в личный кабинет',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Заголовок -->

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Аутентификация -->

<section class="container">
  <div class="card w-full max-w-[560px] p-5 sm:p-9 lg:p-14 mx-auto">
    <div class="card-content">
      <form class="form mb-6 sm:mb-10" data-form="submit">
        <label class="form-label mb-6" data-label="input">
          <div class="font-normal text-14 leading-1 mb-2">E-mail</div>
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input input-md text-14" data-input="email" type="text" placeholder="E-mail">
            </div>
            <span class="form-error" data-error>Введите корректный адрес</span>
          </div>
        </label>
        <label class="form-label mb-7 sm:mb-10" data-label="input">
          <div class="font-normal text-14 leading-1 mb-2">Сменить пароль</div>
          <div class="form-wrapper" data-wrapper>
            <div class="input-cover">
              <input class="input input-md input--error text-14" data-input="password" type="password" placeholder="Введите новый пароль" autocomplete="off">
            </div>
            <span class="form-error visible opacity-100" data-error>Неверный пароль. Попробуйте еще раз</span>
            <div class="form-icon form-icon-md form-icon--pointer form-icon--right text-black text-opacity-60 text-24 cursor-pointer" data-password>
              <svg class="icon">
                <use xlink:href="img/icons.svg#eye-visible">
              </svg>
            </div>
          </div>
        </label>
        <div class="flex">
          <button class="btn btn-dark btn-md sm:btn-lg btn-contur btn-active btn-swipe uppercase text-14 sm:text-16" data-waved="light" type="submit">
            Войти
            <svg class="icon text-14 ml-2">
              <use xlink:href="img/icons.svg#arrow-btn">
            </svg>
          </button>
        </div>
      </form>
      <div class="flex flex-col items-start">
        <button class="btn btn-primary font-medium text-dark text-14 sm:text-16 border-b border-r-0 border-l-0 border-t-0 border-dashed border-dark border-opacity-40 mb-6" data-waved="light">Забыли пароль?</button>
        <p class="font-normal text-14 sm:text-16 leading-1 opacity-60 mb-1">Я ещё не зарегистрировался</p>
        <button class="btn btn-primary font-medium text-dark text-14 sm:text-16 border-b border-r-0 border-l-0 border-t-0 border-dashed border-dark border-opacity-40" data-waved="light">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({}) %>