<% var data = {

  title: 'Корзина',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Заголовок -->

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Корзина -->

<section class="basket container">
  <div class="flex flex-col lg:flex-row lg:justify-between gap-7">
    <div class="w-full lg:max-w-[920px]">
      <div class="card p-5 lg:p-10">
        <div class="card-content gap-5 lg:gap-8">
          <% for (var i = 0; i < 5; i++) { %>
          <div class="basket__item flex flex-wrap xl:flex-nowrap items-center justify-between gap-5 pb-5 lg:pb-8">
            <div class="flex items-start sm:items-center w-full xl:max-w-[330px]">
              <div class="pack pack-box bg-grey w-[60px] min-w-[60px] sm:w-[72px] sm:min-w-[72px] mr-4 sm:mr-8">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <img class="image" loading="lazy" src="img/pictures/product.jpg" alt="">
                </picture>
              </div>
              <div class="flex flex-col">
                <p class="font-normal text-14 leading-4 mb-3">Уголок для верхней одиночной направляющей s34мм...</p>
                <span class="font-normal text-14 leading-2 opacity-60">Арт: 82575553</span>
              </div>
            </div>
            <div class="font-medium text-18 leading-4 w-full sm:w-auto">3 x 5 140 ₽</div>
            <div class="quantity max-w-[150px] p-2 mr-auto xl:mr-0" data-quantity>
              <button class="quantity-btn btn btn-white" data-quantity-decrease data-waved="dark">-</button>
              <div class="quantity-cover input-cover">
                <input class="quantity-input input" data-input="number" type="text" value="1" maxlength="3" name="quantity">
              </div>
              <button class="quantity-btn btn btn-white" data-quantity-increase data-waved="dark">+</button>
            </div>
            <button class="btn btn-primary" data-waved="dark">
              <svg class="icon text-dark text-24">
                <use xlink:href="img/icons.svg#trash">
              </svg>
            </button>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="w-full sm:max-w-[360px] xl:max-w-[400px] ml-auto lg:ml-0">
      <div class="card lg:sticky lg:top-10 p-5 xl:p-8">
        <div class="card-content">
          <div class="flex items-end justify-between gap-px font-semibold text-18 sm:text-20 leading-1 mb-4">
            <span class="min-w-max">Итого</span>
            <span class="relative bottom-1 border-b-2 border-dotted border-dark w-full"></span>
            <span class="min-w-max">38 562 ₽</span>
          </div>
          <div class="flex items-end justify-between gap-px font-normal text-14 sm:text-16 leading-1 mb-4 sm:mb-8">
            <span class="min-w-max">Партнерская скидка</span>
            <span class="relative bottom-1 border-b-2 border-dotted border-dark w-full"></span>
            <span class="min-w-max">3 562 ₽</span>
          </div>
          <button class="btn btn-primary btn-lg btn-fill btn-active uppercase mb-4" data-waved="light">
            Оформить заказ
            <svg class="icon text-14 ml-2">
              <use xlink:href="img/icons.svg#arrow-btn">
            </svg>
          </button>
          <div class="font-medium text-12 sm:text-14 leading-4 cursor-pointer" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">
            Нажимая кнопку вы соглашаетесь с <span class="text-primary underline underline-offset-4">условиями хранения персональных данных</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({}) %>