<% var data = {

  title: 'Корзина',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Заголовок -->

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Корзина -->

<section class="basket container">
  <%= _.template(require('./includes/plug.html').default)({text: 'Спасибо за заказ! Статус заказа можете посмотреть в личном кабинете в разделе «Мои заказы»', btn: 'перейти в личный кабинет'}) %>
</section>

<%= _.template(require('./includes/footer.html').default)({}) %>