<% var data = {

  title: 'Каталог',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<% var main = {

  height: false,
  img: 'production-bg',
  title: 'Каталог'

} %>

<%= _.template(require('./includes/main.html').default)({data, main}) %>

<!-- Каталог -->

<section class="container overflow-hidden">
  <%= _.template(require('./includes/back.html').default)({}) %>
  <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 sm:gap-5 md:gap-10">
    <% for (var i = 0; i < 8; i++) { %>
    <a class="card card--active sm:p-2" data-waved="dark" href="">
      <div class="pack pack-box bg-grey">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/production-img.webp" type="image/webp">
          <img class="image" loading="lazy" src="img/pictures/production-img.jpg" alt="">
        </picture>
      </div>
      <div class="card-content items-start pt-4 sm:pt-6 pb-2 px-2">
        <h4 class="font-semibold text-16 sm:text-18 leading-1 mb-2">Подвесные системы</h4>
        <span class="font-light text-14 sm:text-16 leading-1 opacity-60">23 системы</span>
      </div>
    </a>
    <% } %>
  </div>
</section>

<!-- Закупка -->

<%= _.template(require('./includes/basket.html').default)({}) %>

<%= _.template(require('./includes/footer.html').default)({}) %>