<% var data = {

  title: 'Описание системы',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<% var main = {

  height: false,
  img: 'description-bg',
  title: '<span class="text-primary">Нижнеопорные</span> раздвижные системы'

} %>

<%= _.template(require('./includes/main.html').default)({data, main}) %>

<!-- Креатив -->

<% var creative = {

  bg: true,
  text: true,
  btn: false

} %>

<%= _.template(require('./includes/creative.html').default)({creative}) %>

<!-- Серии -->

<% var palette = [
  {
    value: 'white',
    text: 'Белый',
    color: '#ffffff'
  },
  {
    value: 'black',
    text: 'Черный',
    color: '#000000'
  },
  {
    value: 'grey',
    text: 'Серый',
    color: '#B3B3B3'
  },
  {
    value: 'gold',
    text: 'Золотой',
    color: '#B78C3A'
  }
] %>

<section class="series container overflow-hidden">
  <h2 class="font-light text-32 sm:text-42 lg:text-48 leading-2 mb-5 sm:mb-8 xl:mb-14 ease-in-out duration-4 anim anim--up" data-anim="hidden">Серии профилей</h2>
  <div data-filter="series">
    <div class="series-slider relative mb-10 ease-in-out duration-4 anim anim--up" data-slider-xl="5" data-slider-lg="4" data-slider-sm="3" data-anim="hidden">
      <div class="series-swiper swiper -mx-[15px] px-[15px] sm:mx-0 sm:px-0 pb-3">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < 9; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="series__category <%= i == 0 ? 'filter-active' : '' %> flex flex-col relative cursor-pointer h-full pb-5 md:pb-9" data-filter-category="series" data-filter-value="series-<%= i %>">
              <div class="series__pack pack pack-box bg-grey opacity-30 mb-4 md:mb-8 duration-3">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/production-img.webp" type="image/webp">
                  <img class="image image-rise" loading="lazy" src="img/pictures/production-img.jpg" alt="">
                </picture>
              </div>
              <h4 class="series__subtitle font-light text-center text-16 sm:text-20 lg:text-24 leading-2 duration-3">Серия S800</h4>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <button class="series-button-prev swiper-button-prev btn btn-dark btn-fade hidden md:flex absolute xl:-left-14 text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
        <svg class="icon">
          <use xlink:href="img/icons.svg#arrow-left">
        </svg>
      </button>
      <button class="series-button-next swiper-button-next btn btn-dark btn-fade hidden md:flex absolute xl:-right-14 text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
        <svg class="icon">
          <use xlink:href="img/icons.svg#arrow-right">
        </svg>
      </button>
    </div>
    <div class="block">
      <% for (var i = 0; i < 9; i++) { %>
      <div class="series__card" data-filter-card="series" data-filter-value="series-<%= i %>">
        <div class="flex flex-col lg:flex-row lg:justify-between gap-10 lg:gap-5" data-filter="palette-<%= i %>">
          <div class="w-full lg:max-w-[740px]">
            <h2 class="font-light text-primary text-32 sm:text-42 lg:text-48 leading-2 mb-4 lg:mb-8">Описание S800</h2>
            <div class="mb-8 lg:mb-14" data-listing>
              <p class="font-light text-14 sm:text-16 leading-5 opacity-70">
                Нижние ролики изготовлены из прочных полимерных материалов, имеют фторопластовое покрытие на металлическом подшипнике. <br>
                Качественный подшипник отвечает за легкость и плавность хода двери, а также за долговечность службы. <br>
                Точность центровки (балансировки) ролика обеспечивает отсутствие стука при движении двери. <br>
                Ролики рассчитаны на нагрузку до 180 кг на каждую дверь. <br>
                Возможна скрытая установка роликов, что предотвращает попадание пыли в механизм.
              </p>
              <p class="hidden font-light text-14 sm:text-16 leading-5 opacity-70" data-listing-item>
                Нижние ролики изготовлены из прочных полимерных материалов, имеют фторопластовое покрытие на металлическом подшипнике. <br>
                Качественный подшипник отвечает за легкость и плавность хода двери, а также за долговечность службы. <br>
                Точность центровки (балансировки) ролика обеспечивает отсутствие стука при движении двери. <br>
                Ролики рассчитаны на нагрузку до 180 кг на каждую дверь. <br>
                Возможна скрытая установка роликов, что предотвращает попадание пыли в механизм.
              </p>
              <button class="btn btn-primary font-normal text-dark border-b border-r-0 border-l-0 border-t-0 border-dashed border-dark border-opacity-40 py-1 mt-2" data-listing-show data-waved="light">Показать еще...</button>
            </div>
            <p class="flex items-center gap-1 font-normal text-16 leading-1 mb-5">
              Цвет:
              <% for (var j = 0; j < palette.length; j++) { %>
              <span data-filter-card="palette-<%= i %>" data-filter-value="<%= palette[j].value %>"><%= palette[j].text %></span>
              <% } %>
            </p>
            <div class="flex flex-col sm:flex-row items-start sm:items-center gap-5 sm:gap-10">
              <div class="flex items-center gap-3">
                <% for (var j = 0; j < palette.length; j++) { %>
                <div class="palette <%= j == 0 ? 'filter-active' : '' %> block relative rounded-max border border-solid border-dark border-opacity-10 hover:border-opacity-40 cursor-pointer w-12 h-12 duration-3" data-filter-category="palette-<%= i %>" data-filter-value="<%= palette[j].value %>" data-waved="light" style="background-color: <%= palette[j].color %>;"></div>
                <% } %>
              </div>
              <a class="btn btn-grey text-black sm:text-18 border-b-2 border-t-0 border-l-0 border-r-0 border-solid border-black" data-waved="dark" data-fancybox href="https://www.youtube.com/watch?v=OOih21EjgW0">Смотреть видео о серии</a>
            </div>
          </div>
          <div class="w-full lg:max-w-[425px]">
            <% for (var j = 0; j < palette.length; j++) { %>
            <div class="series-products" data-filter-card="palette-<%= i %>" data-filter-value="<%= palette[j].value %>">
              <div class="swiper -mx-[15px] px-[15px] sm:mx-0 sm:px-0">
                <div class="swiper-wrapper">
                  <% for (var s = 0; s < 4; s++) { %>
                  <div class="swiper-slide pack pack-box bg-grey">
                    <div class="loader">
                      <span class="loader-progress">
                        <svg class="loader-icon icon">
                          <use xlink:href="img/icons.svg#loader">
                        </svg>
                      </span>
                    </div>
                    <picture>
                      <source srcset="img/pictures/series.webp" type="image/webp">
                      <img class="image" loading="lazy" src="img/pictures/series.jpg" alt="">
                    </picture>
                  </div>
                  <% } %>
                </div>
                <div class="swiper-pagination relative lg:absolute left-0 right-0 lg:bottom-2 text-primary mx-auto mt-10 lg:mt-0"></div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Ключевые преимущества -->

<% var quality = {
  title: 'Ключевые <br> преимущества',
  number: 3
} %>

<%= _.template(require('./includes/quality.html').default)({quality}) %>

<!-- Галерея -->

<section class="gallery bg-black overflow-hidden">
  <div class="gallery-slider xxl:w-[1920px] xxl:mx-auto">
    <div class="swiper xxl:overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 4; i++) { %>
        <div class="gallery-slide swiper-slide">
          <div class="gallery__pack pack pack-sheet sm:pack-rect-lg md:pack-[45] bg-black ease-linear duration-3 delay-2">
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <picture>
              <source srcset="img/pictures/gallery-img.webp" type="image/webp">
              <img class="image" loading="lazy" src="img/pictures/gallery-img.jpg" alt="">
            </picture>
          </div>
        </div>
        <% } %>
      </div>
      <div class="swiper-pagination left-0 right-0 lg:bottom-6 text-white mx-auto"></div>
      <button class="swiper-button-prev btn btn-dark btn-fade absolute -left-9 xs:left-4 text-white text-22 rounded-max w-[76px] h-[76px] xs:w-[42px] xs:h-[42px]" data-waved="light">
        <svg class="icon text-30 xs:text-20 ml-6 xs:ml-0">
          <use xlink:href="img/icons.svg#arrow-left">
        </svg>
      </button>
      <button class="swiper-button-next btn btn-dark btn-fade absolute -right-9 xs:right-4 text-white text-22 rounded-max w-[76px] h-[76px] xs:w-[42px] xs:h-[42px]" data-waved="light">
        <svg class="icon text-30 xs:text-20 mr-6 xs:mr-0">
          <use xlink:href="img/icons.svg#arrow-right">
        </svg>
      </button>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({}) %>