<% var data = {

  title: 'Личный кабинет',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Заголовок -->

<%= _.template(require('./includes/heading.html').default)({data}) %>

<!-- Личный кабинет -->

<section class="container flex flex-col lg:flex-row justify-between gap-5 lg:gap-8">
  <%= _.template(require('./includes/lk-sidebar.html').default)({text: 'Партнерский раздел'}) %>
  <div class="w-full lg:max-w-[980px]">
    <h3 class="font-light text-24 mb-6">Партнерский раздел</h3>
    <div class="card p-4 sm:p-8 mb-4" data-waved="dark">
      <div class="card-content flex-row items-center">
        <p class="font-normal text-16 leading-1 mr-5 sm:mr-1">Ваша партнерская скидка составляет:</p>
        <span class="font-medium text-24 leading-1">33%</span>
      </div>
    </div>
    <div class="card p-4 sm:p-8">
      <div class="card-content">
        <p class="font-normal text-16 leading-1 mb-4 lg:mb-6">История начислений</p>
        <div data-listing>
          <div class="flex flex-col gap-1">
            <span class="font-normal text-14 leading-1 opacity-60">01.01.2023 18%</span>
            <span class="font-normal text-14 leading-1 opacity-60">01.01.2023 18%</span>
            <span class="font-normal text-14 leading-1 opacity-60">01.01.2023 18%</span>
            <span class="hidden font-normal text-14 leading-1 opacity-60" data-listing-item>01.01.2023 18%</span>
            <span class="hidden font-normal text-14 leading-1 opacity-60" data-listing-item>01.01.2023 18%</span>
            <span class="hidden font-normal text-14 leading-1 opacity-60" data-listing-item>01.01.2023 18%</span>
          </div>
          <button class="btn font-normal underline underline-offset-4 text-dark text-opacity-70 text-14 mt-2" data-listing-show data-waved="dark">Показать ещё</button>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({}) %>