<% var data = {

  title: 'Раздвижная система S-1 200, черный',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<% var main = {

  height: false,
  img: 'production-bg',
  title: 'Раздвижная система S-1 200, черный'

} %>

<%= _.template(require('./includes/main.html').default)({data, main}) %>

<!-- Продукция -->

<% var palette = [
  {
    value: 'Белый',
    color: '#ffffff'
  },
  {
    value: 'Черный',
    color: '#000000'
  },
  {
    value: 'Серый',
    color: '#B3B3B3'
  },
  {
    value: 'Золотой',
    color: '#B78C3A'
  }
] %>

<% var production = [
  {
    hidden: '',
    data: '',
    status: true
  },
  {
    hidden: '',
    data: '',
    status: false
  },
  {
    hidden: '',
    data: '',
    status: true
  },
  {
    hidden: '',
    data: '',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  }
] %>

<section class="production container overflow-hidden" data-product>
  <%= _.template(require('./includes/back.html').default)({}) %>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mb-12">
    <div class="flex flex-col md:flex-row xl:flex-col gap-2 md:gap-4 ease-in-out duration-4 anim anim--right" data-anim="hidden">
      <div class="production-slider bg-grey w-full md:max-w-[600px] lg:max-w-[800px] xl:max-w-full">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% for (var i = 0; i < 6; i++) { %>
            <a class="swiper-slide pack pack-rect-md xs:pack-rect-sm xl:pack-rect-lg bg-grey" data-fancybox="production" href="img/pictures/production-img.jpg">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/production-img.webp" type="image/webp">
                <img class="image" <%= i == 0 ? 'data-product-image="img/pictures/production-img.jpg"' : '' %> loading="lazy" src="img/pictures/production-img.jpg" alt="">
              </picture>
              <div class="flex items-center justify-center absolute inset-0 bg-black font-extralight text-white text-center text-48 bg-opacity-30 opacity-0 hover:opacity-100 duration-2">+</div>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="production-bullets w-full md:max-w-[100px] xl:max-w-full md:h-[360px] lg:h-[480px] xl:h-auto">
        <div class="swiper md:h-full xl:h-auto">
          <div class="swiper-wrapper">
            <% for (var i = 0; i < 6; i++) { %>
            <div class="swiper-slide pack pack-box bg-grey cursor-pointer md:h-max xl:h-auto">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/production-img.webp" type="image/webp">
                <img class="image" loading="lazy" src="img/pictures/production-img.jpg" alt="">
              </picture>
              <div class="absolute inset-0 bg-black bg-opacity-20 opacity-0 hover:opacity-100 duration-2" data-waved="light"></div>
            </div>
            <% } %>
          </div>
          <button class="swiper-button-prev btn btn-dark btn-fade hidden xl:flex absolute text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-left">
            </svg>
          </button>
          <button class="swiper-button-next btn btn-dark btn-fade hidden xl:flex absolute text-white text-22 rounded-max w-[42px] h-[42px]" data-waved="light">
            <svg class="icon">
              <use xlink:href="img/icons.svg#arrow-right">
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="ease-in-out duration-4 anim anim--left" data-anim="hidden">
      <div class="card h-full py-6 px-4 md:py-8 md:px-8">
        <div class="card-content">
          <h2 class="font-normal text-22 xs:text-26 md:text-32 leading-3 mb-4 md:mb-6" data-product-name>Раздвижная система S-1200, черный</h2>
          <div class="flex items-center gap-3 md:gap-6 mb-4 md:mb-6">
            <span class="font-normal text-14 leading-1 opacity-60">Артикул: 82575553</span>
            <%= _.template(require('./includes/availability.html').default)({status: true}) %>
          </div>
          <div class="flex flex-wrap items-center gap-2 mb-5 md:mb-9">
            <span class="flex items-center justify-center bg-grey font-normal text-center text-12 leading-1 rounded-full p-3">Система S42</span>
            <span class="flex items-center justify-center bg-grey font-normal text-center text-12 leading-1 rounded-full p-3">Серия S1200</span>
          </div>
          <p class="font-normal text-16 leading-1 mb-5">Цвет: черный</p>
          <div class="flex items-center gap-3 mb-8 md:mb-12">
            <% for (var i = 0; i < palette.length; i++) { %>
            <label class="palette block relative cursor-pointer" data-waved="light">
              <input class="palette__radio hidden" type="radio" value="<%= palette[i].value %>" name="color">
              <span class="palette__color block rounded-max border border-solid border-dark border-opacity-10 hover:border-opacity-40 w-10 h-10 duration-3" style="--production-color: <%= palette[i].color %>"></span>
            </label>
            <% } %>
          </div>
          <div class="flex flex-col md:flex-row items-start md:items-center md:justify-between gap-5 mb-5 md:mb-10">
            <div class="flex flex-col">
              <span class="font-normal text-dark text-opacity-70 leading-1 mb-2">Связь с менеджером:</span>
              <a class="btn btn-primary text-dark border-b border-dashed" href="tel: +7 495 191-08-95" data-waved="dark">
                <svg class="icon text-24 mr-1">
                  <use xlink:href="img/icons.svg#phone">
                </svg>
                <span class="font-semibold text-20">+7 495 191-08-95</span>
              </a>
            </div>
            <button class="btn btn-dark btn-lg btn-contur btn-active btn-swipe font-normal w-full max-w-[270px]" data-waved="light">
              <svg class="icon text-24 mr-2">
                <use xlink:href="img/icons.svg#calc">
              </svg>
              Калькулятор
            </button>
          </div>
          <div class="bg-grey xl:mt-auto py-6 px-3 md:px-6">
            <div class="flex flex-col md:flex-row items-start md:justify-between gap-5">
              <div class="order-2 md:order-1 flex flex-col w-full max-w-[270px]">
                <span class="font-normal text-16 md:text-18 leading-1 line-through" data-product-price>7 140 ₽</span>
                <span class="font-medium text-40 md:text-title leading-1 mb-4" data-product-oldprice>5 140 ₽</span>
                <div class="inverted w-full" data-product-inverted data-inverted="before">
                  <div class="inverted-before duration-3">
                    <button class="btn btn-primary btn-lg btn-fill btn-active font-medium uppercase w-full" data-product-button data-inverted-open data-waved="light">
                      <svg class="icon text-24 mr-2">
                        <use xlink:href="img/icons.svg#basket">
                      </svg>
                      в корзину
                    </button>
                  </div>
                  <div class="inverted-after duration-3">
                    <div class="quantity" data-quantity>
                      <button class="quantity-btn btn btn-white" data-product-decrease data-quantity-decrease data-waved="dark">-</button>
                      <div class="quantity-cover input-cover">
                        <input class="quantity-input input" data-product-quantity data-input="number" type="text" value="1" maxlength="3" name="quantity">
                      </div>
                      <button class="quantity-btn btn btn-white" data-product-increase data-quantity-increase data-waved="dark">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-1 md:order-2 flex items-center justify-center bg-green text-white text-center font-normal text-14 leading-1 rounded-full h-max py-2 px-3">Партнерская скидка 33%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-filter>
    <div class="flex items-center gap-4 overflow-auto md:overflow-visible -m-[15px] p-[15px] md:m-0 md:p-0">
      <button class="production__category filter-active btn btn-grey btn-md btn-fill btn-active btn-swipe font-normal text-dark min-w-max" data-filter-category="description" data-waved="dark">Описание</button>
      <button class="production__category btn btn-grey btn-md btn-fill btn-active btn-swipe font-normal text-dark min-w-max" data-filter-category="specifications" data-waved="dark">Характеристики</button>
      <button class="production__category btn btn-grey btn-md btn-fill btn-active btn-swipe font-normal text-dark min-w-max" data-filter-category="equipment" data-waved="dark">Комплектация</button>
      <button class="production__category btn btn-grey btn-md btn-fill btn-active btn-swipe font-normal text-dark min-w-max" data-filter-category="scheme" data-waved="dark">Схема сборки</button>
    </div>
    <div class="block mt-8">
      <div class="production__card" data-filter-card="description">
        <p class="font-normal text-16 leading-5 mb-5">
          Эта инновационная система позволяет легко и плавно раздвигать двери в стороны, обеспечивая максимальную эффективность использования помещения.
        </p>
        <p class="font-normal text-16 leading-5 mb-5">
          Система дверей с раздвижным механизмом идеально подходит для различных типов помещений, будь то дом, офис или коммерческое пространство. <br>
          Она позволяет максимизировать использование доступного пространства, особенно там, где каждый квадратный метр имеет значение.
        </p>
        <p class="font-normal text-16 leading-5 mb-5">
          Одно из главных преимуществ раздвижной системы дверей — это возможность создания свободного и открытого пространства при необходимости. <br>
          Вы можете легко открыть двери, скрывая их в стене, и таким образом объединить два смежных помещения или расширить доступ к балкону или террасе.
        </p>
        <p class="font-normal text-16 leading-5">
          Дизайн раздвижной системы дверей также заслуживает внимания. Она предлагает широкий выбор материалов и отделки, позволяя адаптировать ее к любому интерьеру. Вы можете выбрать стеклянные панели для создания ощущения пространства и пропускания естественного света или использовать различные виды дерева или металла для придания современного или классического стиля.
        </p>
      </div>
      <div class="production__card hidden" data-filter-card="specifications">
        <div class="flex flex-col md:gap-2">
          <% for (var i = 0; i < 6; i++) { %>
          <div class="production__item grid grid-cols-1 sm:grid-cols-2 sm:gap-1 py-4 px-3 md:py-5 md:px-6">
            <p class="font-medium text-16 leading-4">Ширина двери</p>
            <p class="font-normal sm:font-medium text-14 sm:text-16 leading-4">от 700 мм до 1 500 мм (две створки)</p>
          </div>
          <% } %>
        </div>
      </div>
      <div class="production__card hidden" data-filter-card="equipment">
        <div class="grid grid-cols-2 sm:grid-cols-1 gap-2 sm:gap-4" data-listing="6">
          <% for (var i = 0; i < production.length; i++) { %>
          <div class="card card--active <%= production[i].hidden %> pb-2 pl-2 pr-2 sm:pt-6 sm:pb-6 sm:pl-4 sm:pr-4 lg:pt-2 lg:pb-2 lg:pl-2 lg:pr-7" data-product <%= production[i].data %>>
            <div class="card-content sm:flex-wrap lg:flex-nowrap sm:flex-row items-start sm:items-center lg:justify-between sm:gap-5 xl:gap-10">
              <div class="pack pack-box bg-grey w-full sm:max-w-[150px] mb-3 sm:mb-0">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <img class="image" data-product-image="img/pictures/product.jg" loading="lazy" src="img/pictures/product.jpg" alt="">
                </picture>
              </div>
              <div class="flex flex-col items-start w-full sm:max-w-[250px] mb-2 sm:mb-0">
                <span class="font-normal text-14 sm:text-16 leading-4 mb-2 sm:mb-4" data-product-name>Уголок для верхней одиночной направляющей s34мм</span>
                <span class="font-normal text-12 sm:text-14 leading-2 opacity-60">Артикул: 82575553</span>
              </div>
              <div class="font-normal text-14 sm:text-16 leading-4 opacity-60 xl:mx-auto mb-2 sm:mb-0">Цвет: бронза</div>
              <div class="mb-5 sm:mb-0">
                <%= _.template(require('./includes/availability.html').default)({status: production[i].status}) %>
              </div>
              <div class="flex flex-col sm:flex-row lg:flex-col sm:items-end md:justify-end gap-3 sm:gap-6 lg:border-l lg:border-solid lg:border-dark lg:border-opacity-20 w-full lg:max-w-[200px] xl:max-w-[330px] lg:pl-5 xl:pl-10 mt-auto sm:mt-0">
                <div class="font-medium text-22 sm:text-28 leading-4" data-product-price>5 140 ₽</div>
                <div class="inverted lg:w-full" data-product-inverted data-inverted="before">
                  <div class="inverted-before duration-3">
                    <button class="btn btn-dark btn-md sm:btn-lg btn-contur btn-active btn-swipe uppercase text-14 sm:text-16 w-full px-2 sm:px-10" data-product-button data-inverted-open data-waved="light">В корзину</button>
                  </div>
                  <div class="inverted-after duration-3">
                    <div class="quantity" data-quantity>
                      <button class="quantity-btn btn btn-white" data-product-decrease data-quantity-decrease data-waved="dark">-</button>
                      <div class="quantity-cover input-cover">
                        <input class="quantity-input input" data-product-quantity data-input="number" type="text" value="1" maxlength="3" name="quantity">
                      </div>
                      <button class="quantity-btn btn btn-white" data-product-increase data-quantity-increase data-waved="dark">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <button class="btn btn-dark btn-lg btn-contur btn-active btn-swipe col-2 sm:col-1 uppercase mt-5 sm:mt-8 mx-auto" data-listing-show data-waved="light">показать еще</button>
        </div>
      </div>
      <div class="production__card hidden" data-filter-card="scheme">
        <div class="flex flex-col gap-6">
          <% for (var i = 0; i < 6; i++) { %>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
            <p class="font-medium text-16 leading-4">Схема сборки раздвижной системы S-1 200</p>
            <div class="flex items-center">
              <svg class="icon text-24 mr-1">
                <use xlink:href="img/icons.svg#pdf">
              </svg>
              <span class="font-normal sm:font-medium text-14 sm:text-16 leading-4 mr-4">Размер: 8 Мб</span>
              <a class="font-normal text-16 underline underline-offset-4 hover:text-primary duration-1" href="" download>Скачать</a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Закупка -->

<%= _.template(require('./includes/basket.html').default)({}) %>

<%= _.template(require('./includes/footer.html').default)({}) %>