<% var data = {

  title: 'Результаты поиска',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<% var main = {

  height: false,
  img: 'production-bg',
  title: 'Результаты поиска'

} %>

<%= _.template(require('./includes/main.html').default)({data, main}) %>

<!-- Продукция -->

<% var palette = [
  {
    value: 'Белый',
    color: '#ffffff'
  },
  {
    value: 'Черный',
    color: '#000000'
  },
  {
    value: 'Серый',
    color: '#B3B3B3'
  },
  {
    value: 'Золотой',
    color: '#B78C3A'
  }
] %>

<% var production = [
  {
    hidden: '',
    data: '',
    status: true
  },
  {
    hidden: '',
    data: '',
    status: false
  },
  {
    hidden: '',
    data: '',
    status: true
  },
  {
    hidden: '',
    data: '',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: true
  },
  {
    hidden: 'hidden',
    data: 'data-listing-item',
    status: false
  }
] %>

<section class="container overflow-hidden">
  <%= _.template(require('./includes/back.html').default)({}) %>
  <form class="form xs:flex-row xs:items-center xs:justify-between gap-4 mb-5 sm:mb-8">
    <label class="form-label w-full">
      <div class="form-wrapper">
        <div class="input-cover">
          <input class="input input-md sm:input-lg pr-10" type="text" placeholder="Поиск" required>
        </div>
        <button class="form-icon form-icon-md sm:form-icon-lg form-icon--pointer form-icon--right text-dark text-opacity-30 text-24 cursor-pointer" type="reset">
          <svg class="icon">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
      </div>
    </label>
    <button class="btn btn-dark btn-md sm:btn-lg btn-contur btn-active btn-swipe uppercase text-14 sm:text-16 w-full xs:w-auto" data-waved="light" type="submit">Поиск</button>
  </form>
  <h2 class="font-normal text-24 sm:text-32 leading-2 mb-3 sm:mb-6">«Раздвижные системы»</h2>
  <p class="font-normal text-16 leading-2 opacity-60 mb-8">Отображено 50 товаров</p>
  <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 sm:gap-5 md:gap-10">
    <% for (var i = 0; i < 8; i++) { %>
    <div class="card card--active sm:p-2" data-product>
      <div class="pack pack-box bg-grey">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/production-img.webp" type="image/webp">
          <img class="image" loading="lazy" data-product-image="img/pictures/production-img.jpg" src="img/pictures/production-img.jpg" alt="">
        </picture>
      </div>
      <div class="card-content items-start pt-4 sm:pt-6 pb-2 px-2">
        <div class="mb-3">
          <%= _.template(require('./includes/availability.html').default)({status: true}) %>
        </div>
        <span class="font-normal text-12 sm:text-14 leading-2 opacity-60 mb-2 sm:mb-4">Артикул: 82575553</span>
        <a class="font-normal text-14 sm:text-16 leading-4 hover:underline underline-offset-4 mb-3 sm:mb-7" data-product-name href="">Система для деревянных дверей 28-32мм, серебро</a>
        <div class="flex flex-col md:flex-row md:items-center md:gap-4 mt-auto mb-2 sm:mb-4">
          <span class="order-2 md:order-1 font-semibold text-22 sm:text-28 leading-4" data-product-price>от 5 140 ₽</span>
          <span class="order-1 md:order-2 font-light text-16 sm:text-18 leading-4 line-through" data-product-oldprice>7 140 ₽</span>
        </div>
        <div class="inverted w-full" data-product-inverted data-inverted="before">
          <div class="inverted-before duration-3" data-inverted-before>
            <button class="btn btn-dark btn-md sm:btn-lg btn-contur btn-active btn-swipe uppercase text-14 sm:text-16 w-full px-2 sm:px-10" data-product-button data-inverted-open data-waved="light">
              <svg class="icon hidden sm:block text-24 mr-2">
                <use xlink:href="img/icons.svg#basket">
              </svg>
              в корзину
            </button>
          </div>
          <div class="inverted-after duration-3" data-inverted-after>
            <div class="quantity" data-quantity>
              <button class="quantity-btn btn btn-white" data-product-decrease data-quantity-decrease data-waved="dark">-</button>
              <div class="quantity-cover input-cover">
                <input class="quantity-input input" data-product-quantity data-input="number" type="text" value="1" maxlength="3" name="quantity">
              </div>
              <button class="quantity-btn btn btn-white" data-product-increase data-quantity-increase data-waved="dark">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- Корзина -->

<%= _.template(require('./includes/basket.html').default)({}) %>

<%= _.template(require('./includes/footer.html').default)({}) %>