// Шапка документа
.header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.44);
  transform : translateY(var(--top));
}

// Мобильное меню
.mobile-menu {
  &[data-mobile="open"] {
    visibility: visible;
    opacity   : 1;
  }

  &[data-mobile="open"] &__content {
    visibility: visible;
    opacity   : 1;
    transform : translateX(0);
  }

  &[data-mobile="open"] &__head {
    transform: translateY(0);
  }

  &[data-mobile="open"] &__nav {
    opacity  : 1;
    transform: translateX(0);
  }

  &[data-mobile="open"] &__footer {
    opacity  : 1;
    transform: translateY(0);
  }

  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
  }

  &:not([data-mobile="open"]) {
    visibility: hidden;
    opacity   : 0;
  }

  &:not([data-mobile="open"]) &__content {
    visibility: hidden;
    opacity   : 0;
    transform : translateX(-100%);
  }

  &:not([data-mobile="open"]) &__head {
    transform: translateY(-80px);
  }

  &:not([data-mobile="open"]) &__nav {
    opacity  : 0;
    transform: translateX(-220px);
  }

  &:not([data-mobile="open"]) &__footer {
    opacity  : 0;
    transform: translateY(-50px);
  }
}

// Главный блок
.main {
  &__bg {
    &::after {
      content       : "";
      position      : absolute;
      inset         : 0;
      background    : theme("colors.black.DEFAULT / 70%");
      pointer-events: none;

      @screen xl {
        background: linear-gradient(81.37deg, theme("colors.black.DEFAULT / 90%") 17.04%, rgba(0, 0, 0, 0) 71.92%), theme("colors.black.DEFAULT / 30%");
      }
    }
  }

  &-pagination.swiper-pagination {
    width: max-content;

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: theme("colors.primary.DEFAULT");
    }
  }
}

// Креатив
.creative {
  &__pack {

    &::after {
      content   : "";
      position  : absolute;
      inset     : 0;
      background: linear-gradient(180deg, transparent, #0000009c);
    }

    @screen xl {
      height: 640px;
    }
  }
}

// Ассортимент
.assortment {
  &__card {
    cursor: pointer;

    @media(hover) {
      &:hover .assortment__pack {
        bottom: 0;
      }
    }
  }

  &__pack {
    &::after {
      content         : "";
      position        : absolute;
      inset           : 0;
      background-color: theme("colors.black.DEFAULT / 60%");
    }
  }
}

// Презентация
.presentation {
  &__file {
    @screen lg {
      transform: translate(calc(var(--x) * 30), calc(var(--y) * 20));
    }
  }

  &__pencils {
    @screen lg {
      transform: translate(calc(var(--x) * -20), calc(var(--y) * -10));
    }
  }
}

// Продукция
.production {
  &__category.filter-active {
    @apply bg-primary text-white pointer-events-none;
  }

  &__card.filter-show {
    animation: filtering-show 0.3s ease both 1;
  }

  &__item {
    &:nth-child(odd) {
      @apply bg-white;
    }

    &:nth-child(even) {
      @apply bg-grey;
    }
  }
}

@keyframes filtering-show {
  0% {
    opacity  : 0;
    transform: translateY(50px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

// Палитра
.palette {
  &__color {
    background-color: var(--production-color);
  }

  &__radio:checked+&__color {
    border-color: transparent;
    box-shadow  : 0 0 0 3px theme('colors.primary.DEFAULT');
  }
}

// Каталог
.catalog {
  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
    transform : translateX(-375px);

    @screen lg {
      box-shadow: none;
      transform : translateX(0);
    }
  }

  &__switch:checked+&__text {
    @apply font-medium opacity-100;
  }

  &__sidebar[data-sidebar="open"] {
    visibility: visible;
  }

  &__sidebar[data-sidebar="open"] &__content {
    opacity  : 1;
    transform: translateX(0);
  }

  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(180deg);
  }
}

// Закупка
.basket-shop {
  &:not([data-basket="show"]) {
    transform: translateY(-40%);
  }
}

// В корзину
.in-basket {
  animation: in-basket 2s ease both;
}

@keyframes in-basket {
  100% {
    top : -10%;
    left: 90%;
  }
}

// Серии
.series {
  @media(hover) {
    &__category:not(.filter-active):hover &__pack {
      @apply opacity-50;
    }
  }

  &-slider {
    &::after {
      content : "";
      position: absolute;
      right   : -15px;
      bottom  : 10px;
      left    : -15px;

      @apply border-b-2 border-solid border-black border-opacity-20 pointer-events-none;

      @screen sm {
        right: 0;
        left : 0;
      }
    }
  }

  &__card.filter-show {
    animation: filtering-show 0.3s ease both 1;
  }

  &__category {

    &::before,
    &::after {
      content   : "";
      position  : absolute;
      right     : 0;
      left      : 0;
      visibility: hidden;
      opacity   : 0;
      transition: ease 0.3s;
    }

    &::before {
      bottom       : -2px;
      width        : 100%;
      border-bottom: 2px solid theme('colors.black.DEFAULT');
    }

    &::after {
      bottom   : -9px;
      width    : 15px;
      height   : 15px;
      transform: rotate(45deg);

      @apply bg-white mx-auto;

      border: {
        right : 2px solid theme('colors.black.DEFAULT');
        bottom: 2px solid theme('colors.black.DEFAULT');
      }
    }
  }

  &__category.filter-active {

    &::before,
    &::after {
      visibility: visible;
      opacity   : 1;
    }

    @apply pointer-events-none;
  }

  &__category.filter-active &__pack {
    @apply opacity-100;
  }

  &__category.filter-active &__subtitle {
    @apply font-semibold;
  }
}

// Галерея
.gallery {
  &-slide:not(.swiper-slide-active) &__pack {
    @apply opacity-30;
  }
}

// Вопросы
.questions {
  &__accordion[data-accordion="active"] &__toggle {
    @apply bg-primary text-white;
  }

  &__accordion[data-accordion="active"] &__line {
    @apply rotate-0;
  }
}

// Партнеры
.partners {
  &__category {
    @screen lg {

      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
        box-shadow  : none;
      }
    }

    &.filter-active {
      @apply underline text-primary pointer-events-none;
    }
  }

  &__card.filter-show {
    animation: filtering-show 0.3s ease both 1;
  }
}

// Корзина
.basket {
  &__item {

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      @apply border-b border-solid border-grey;
    }
  }
}