// Шапка документа
.header {
  transform: translateY(var(--top));

  &__inverted {
    perspective: 600px;
  }

  &__inverted[data-inverted="before"] &__before {
    transform: rotateX(0);
  }

  &__inverted[data-inverted="before"] &__after {
    transform: rotateX(-180deg);
  }

  &__inverted[data-inverted="after"] &__before {
    transform: rotateX(-180deg);
  }

  &__inverted[data-inverted="after"] &__after {
    transform: rotateX(0);
  }


  &__before,
  &__after {
    transform-style    : preserve-3d;
    backface-visibility: hidden;
  }
}

// Мобильное меню
.mobile-menu {
  &[data-mobile="open"] {
    visibility: visible;
    opacity   : 1;
  }

  &[data-mobile="open"] &__content {
    visibility: visible;
    opacity   : 1;
    transform : translateX(0);
  }

  &[data-mobile="open"] &__head {
    transform: translateY(0);
  }

  &[data-mobile="open"] &__nav {
    opacity  : 1;
    transform: translateX(0);
  }

  &[data-mobile="open"] &__footer {
    opacity  : 1;
    transform: translateY(0);
  }

  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
  }

  &:not([data-mobile="open"]) {
    visibility: hidden;
    opacity   : 0;
  }

  &:not([data-mobile="open"]) &__content {
    visibility: hidden;
    opacity   : 0;
    transform : translateX(-100%);
  }

  &:not([data-mobile="open"]) &__head {
    transform: translateY(-80px);
  }

  &:not([data-mobile="open"]) &__nav {
    opacity  : 0;
    transform: translateX(-220px);
  }

  &:not([data-mobile="open"]) &__footer {
    opacity  : 0;
    transform: translateY(-50px);
  }
}

// Главный блок
.main {
  &__bg {
    &::after {
      content       : "";
      position      : absolute;
      inset         : 0;
      background    : rgba(0, 0, 0, 0.7);
      pointer-events: none;

      @screen xl {
        background: linear-gradient(81.37deg, rgba(0, 0, 0, 95) 17.04%, rgba(0, 0, 0, 0) 71.92%);
      }
    }
  }
}

// Креатив
.creative {
  &__pack {
    &::after {
      content   : "";
      position  : absolute;
      inset     : 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, theme("colors.black.DEFAULT") 100%);
    }
  }
}

// Презентация
.presentation {
  &__file {
    @screen lg {
      transform: translate(calc(var(--x) * 30), calc(var(--y) * 20));
    }
  }

  &__pencils {
    @screen lg {
      transform: translate(calc(var(--x) * -20), calc(var(--y) * -10));
    }
  }
}

// Продукция
.production {
  &__category.filter-active {
    @apply bg-primary text-white pointer-events-none;
  }

  &__card.filter-show {
    animation: filtering-show 0.3s ease both 1;
  }

  &__item {
    &:nth-child(odd) {
      @apply bg-white;
    }

    &:nth-child(even) {
      @apply bg-grey;
    }
  }
}

@keyframes filtering-show {
  0% {
    opacity  : 0;
    transform: translateY(50px);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

// Палитра
.palette {
  &__color {
    background-color: var(--production-color);
  }

  &__radio:checked+&__color {
    border-color: transparent;
    box-shadow  : 0 0 0 3px theme('colors.primary.DEFAULT');
  }
}

// Каталог
.catalog {
  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");

    @screen lg {
      box-shadow: none;
    }
  }

  &__switch:checked+&__text {
    @apply font-medium opacity-100;
  }

  &__quantity {
    &::before {
      content      : "";
      position     : absolute;
      top          : 0;
      bottom       : 0;
      left         : -8px;
      width        : 0;
      height       : 0;
      border-top   : 12px solid transparent;
      border-right : 20px solid theme('colors.primary.DEFAULT');
      border-bottom: 12px solid transparent;
      margin-block : auto;
    }
  }

  &__accordion[data-accordion="active"] &__arrow {
    transform: rotate(180deg);
  }
}